<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start center-items" style="background-color: hsl(0, 0%, 96%); min-height: 92vh">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best service <br />
              <span class="text-primary">for your house</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <div class="style-register">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"> <a class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" role="tab" aria-controls="login" aria-selected="true">User</a> </li>
                        <li class="nav-item" role="presentation"> <a class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" role="tab" aria-controls="register" aria-selected="false">Cleaner</a> </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">User Register</h4>
                        <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                              <div class="col-md-6 mb-4">
                                <div class="">
                                  <label for="userName" class="text-primary">First name</label>
                                  <input type="text" id="userName" class="form-control" formControlName="name" #userName placeholder="Enter your name" required/>
                                </div>
                              </div>
                              <div class="col-md-6 mb-4">
                                <div class="">
                                  <label class="text-primary" for="userLastName">Last name</label>
                                  <input type="text" id="userLastName" class="form-control" #userLastName placeholder="Enter your Last Name" required/>
                                </div>
                              </div>
                            </div>
            
                            <!-- Email input -->
                            <div class="mb-4">
                              <label class="text-primary" for="userEmail">Email address</label>
                              <input type="email" id="userEmail" class="form-control" formControlName="email" #userEmail placeholder="Enter your email" required/>
                            </div>
            
                            <!-- Password input -->
                            <div class="mb-4">
                              <label class="text-primary" for="userPassword">Password</label>
                              <input type="password" id="userPassword" class="form-control" formControlName="password" #userPassword placeholder="Enter your Password" required/>
                            </div>

                            <!-- Confirm Password input -->
                            <div class="mb-4">
                              <label class="text-primary" for="userConfirmPassword">Confirm Password</label>
                              <input type="password" id="userConfirmPassword" class="form-control" formControlName="confirmPassword" #userConfirmPassword placeholder="Confirm your Password" required/>
                            </div>
            
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                              <input class="form-check-input me-2" type="checkbox" value="" id="userTerms" #userTerms required/>
                              <label class="form-check-label" for="userTerms">
                                  Accept terms and conditions for user
                              </label>
                            </div>
            
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                              Sign up
                            </button>
                            <div class="text-center">
                              <p>Do you have an account? <a routerLink="/login">Login</a></p>
                            </div>
                            <!-- Register buttons -->
                            <div class="text-center">
                              <p>or sign up with:</p>
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                              </button>
                            </div>
                          </form>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Cleaner Register</h4>
                        <form [formGroup]="registerCleanerForm" (ngSubmit)="onRegisterFormSubmit(registerCleanerForm.value)">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                              <div class="col-md-6 mb-4">
                                <div class="">
                                  <label class="text-primary" for="cleanerName">First name</label>
                                  <input type="text" id="cleanerName" class="form-control" formControlName="name" #cleanerName placeholder="Enter your First Name"/>
                                </div>
                              </div>
                              <div class="col-md-6 mb-4">
                                <div class="">
                                  <label class="text-primary" for="cleanerLastName">Last name</label>
                                  <input type="text" id="cleanerLastName" class="form-control" #cleanerLastName placeholder="Enter your Last Name"/>
                                </div>
                              </div>
                            </div>
            
                            <!-- Email input -->
                            <div class="mb-4">
                              <label class="text-primary" for="cleanerEmail">Email address</label>
                              <input type="email" id="cleanerEmail" class="form-control" formControlName="email" #cleanerEmail placeholder="Enter your Email"/>
                            </div>
            
                            <!-- Password input -->
                            <div class="mb-4">
                              <label class="text-primary" for="cleanerPassword">Password</label>
                              <input type="password" id="cleanerPassword" class="form-control" formControlName="password" #cleanerPassword placeholder="Enter your Password"/>
                            </div>

                            <!-- Confirm Password input -->
                            <div class="mb-4">
                              <label class="text-primary" for="cleanerConfirmPassword">Confirm Password</label>
                              <input type="password" id="cleanerConfirmPassword" class="form-control" formControlName="confirmPassword" #cleanerConfirmPassword placeholder="Confirm your Password"/>
                            </div>
            
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                              <input class="form-check-input me-2" type="checkbox" value="" id="cleanerTerms" #cleanerTerms/>
                              <label class="form-check-label" for="cleanerTerms">
                                Accept terms and conditions for cleaner
                              </label>
                            </div>
            
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                              Sign up
                            </button>
                            <div class="text-center">
                              <p>Do you have an account? <a routerLink="/login">Login</a></p>
                            </div>
                            <!-- Register buttons -->
                            <div class="text-center">
                              <p>or sign up with:</p>
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                              </button>
            
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                              </button>
                            </div>
                          </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
