<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start center-items" style="background-color: hsl(0, 0%, 96%); min-height: 92vh">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best service <br />
              <span class="text-primary">for your house</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)" class="needs-validation">
                  <!-- Email input -->
                  <div class="mb-2">
                    <label for="email" class="text-primary">Email address</label>
                    <input #email formControlName="email" type="email" id="email" class="form-control" [ngClass]="{'is-invalid': (loginForm.controls.email.errors?.required || loginForm.controls.email.errors?.pattern) && loginForm.touched}" placeholder="Enter your Email" required/>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Enter a valid email!
                    </div>
                  </div>
  
                  <!-- Password input -->
                  <div class="mb-4">
                    <label for="password" class="text-primary">Password</label>
                    <input #password type="password" id="password" formControlName="password" [ngClass]="{'is-invalid': loginForm.controls.password.errors?.required && loginForm.touched}" class="form-control" placeholder="Enter your Password" required/>
                    <div class="invalid-feedback">
                      Enter a password
                    </div>
                  </div>  

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
                  <div class="text-center">
                    <p>Not a member? <a routerLink="/signup">Register</a></p>
                  </div>
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or login with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1" [disabled]="authService.isLoading">
                      <i class="fab fa-facebook-f"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1" (click)="authService.GoogleAuth('user')" [disabled]="authService.isLoading">
                      <i class="fab fa-google"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1" [disabled]="authService.isLoading">
                      <i class="fab fa-twitter"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1" [disabled]="authService.isLoading">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
